<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="apikey" value="44746c6376594a72575559544b7751575844584c7958715575696b656c687977" />
        <add key="shop_id" value="1561559921" />
        <add key="brand_name" value="TAG" />
        <add key="marketplace" value="SHOPEE" />
    </appSettings>
</configuration>