<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="shop_id" value="KAYARU" />
        <add key="brand_name" value="KAYARU" />
        <add key="marketplace" value="JUBELIO" />
    </appSettings>
</configuration>