<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="shop_id" value="7493999882387293815" />
        <add key="brand_name" value="ELSHESKIN" />
        <add key="marketplace" value="TIKTOK" />
    </appSettings>
</configuration>